#container{
position: relative;
}
#menu{
position: absolute;
top:0;
right:0;
}


#menu, #menu ul {
list-style-type: none;
padding: 0;
margin: 0;
}

#menu li {
float: left;
background:#fff;
}
#menu a{
display:block;
padding: 4px;
width: 10em;
}

#menu li ul{
position: absolute;
width:10em;
left:-999em;

}


#menu li:hover ul,#menu li ul:hover {
left:auto;
}
