<<<<<<< HEAD
.zebra{
background-color: #dddddd;
color: #666666;

}
=======
.zebra
{
background-color: blanchedalmond;
color: blue;
font-style: italic;
}
>>>>>>> 7a881a328d4913ffd7f94093106f3bc5f7068d99
